header {
  padding: convert-to-rem(20px) 0;
  width: 100%;
  position: relative; 
  z-index: 100;

  // OVERLAY MODIFIER
  &.header--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .custom-logo-link {
      display: block;
      line-height: 0;

      img {
        width: convert-to-rem(163px);
        height: convert-to-rem(49px);
        object-fit: contain;

        @include mobile {
          width: convert-to-rem(131px);
          height: convert-to-rem(39px);
        }
      }
    }

    // Desktop header
    .header__right {
      display: flex;
      align-items: center;
      gap: convert-to-rem(10px);
      width: fit-content;
      padding: convert-to-rem(6px) convert-to-rem(24px);
      border-radius: convert-to-rem(100px);
      background: var(--color-glass-bg);
      backdrop-filter: blur(8px);
      box-shadow: var(--shadow-header);
      @include gradient-border(convert-to-rem(100px), 2px, var(--gradient-header-border));

      @include mobile {
        display: none;
      }

      .nav-list {
        display: flex;
        align-items: center;
        gap: convert-to-rem(30px);

        li {
          a {
            @include typography($font-family-base, $fw-regular, 14px, 1);
            color: var(--color-black);
            white-space: nowrap;
            text-decoration: none;
            transition: color 0.3s ease;

            @include hover {
              color: var(--color-primary);
            }
          }

          &.current-menu-item,
          &.current_page_parent {
            a {
              display: flex;
              align-items: center;
              gap: convert-to-rem(4px);
              background-color: var(--color-white);
              border-radius: convert-to-rem(100px);
              padding: convert-to-rem(4px) convert-to-rem(10px);

              &::before {
                content: "";
                display: block;
                width: convert-to-rem(8px);
                height: convert-to-rem(8px);
                background-color: var(--color-black);
                border-radius: 50%;
                flex-shrink: 0;
              }
            }
          }
        }
      }

      .btn {
        display: flex;
      }
    }

    // Mobile header
    .header__mobile-controls {
      display: none;

      @include mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: convert-to-rem(123px);
        padding: convert-to-rem(5px) convert-to-rem(11px);
        gap: convert-to-rem(10px);
        border-radius: convert-to-rem(100px);
        background: var(--color-glass-bg);
        backdrop-filter: blur(18px);
        box-shadow: var(--shadow-header);
        @include gradient-border(convert-to-rem(100px), 2px, var(--gradient-header-border));
      }
    }
  }
}