// --- Typography ---
$font-family-base: "Open Sans", sans-serif;
$font-family-heading: "Mulish", sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// --- CSS Variables ---
:root {
  // --- Spacing & Layout ---
  --_section-gap: #{Clamp(3.75rem, 7.5rem)};
  --_section-offset: #{Clamp(0.5rem, 2.5rem)};
  --header-height: 80px;

  // --- Colors: Brand ---
  --color-primary: #122248;
  --color-secondary: #5d7ca9;
  --color-blue-accent: #3971c0;

  // --- Colors: Neutrals ---
  --color-background: #f7f8ff;
  --color-bg-light: #e8eaf3;
  --color-white: #fff;
  --color-black: #000000;
  --color-text: #242424;
  --color-heading: #000000;

  // --- Colors: Utility & UI ---
  --color-border: #e0e0e0;
  --color-border-grey: #a5a5a5;
  --color-grey-silver: #b6b6b6;
  --color-grey-medium: #b6b0b0;

  // --- Colors: Transparencies & Overlays ---
  --color-white-70: rgba(255, 255, 255, 0.7);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-glass-bg: rgba(255, 255, 255, 0.3);
  --color-overlay-dark: rgba(0, 0, 0, 0.32);

  // --- Gradients ---
  --gradient-silver: linear-gradient(
    180deg,
    #f2f2f2 60.58%,
    #acacac 99.99%,
    #ffffff 100%
  );

  --gradient-header-border: linear-gradient(
    180deg,
    #f2f2f2 0%,
    #818181 41.42%,
    #ffffff 100%
  );

  // --- Images ---
  --hero-bg-image: url("../images/hero-bg.webp");
  
  // --- Shadows ---
  --shadow-header: 0px 17px 38px 0px rgba(0, 0, 0, 0.1),
    0px 69px 69px 0px rgba(0, 0, 0, 0.09),
    0px 156px 94px 0px rgba(0, 0, 0, 0.05),
    0px 277px 111px 0px rgba(0, 0, 0, 0.01),
    0px 433px 121px 0px rgba(0, 0, 0, 0);

  --shadow-deep: 0px 17px 38px 0px rgba(0, 0, 0, 0.1),
    0px 69px 69px 0px rgba(0, 0, 0, 0.09),
    0px 156px 94px 0px rgba(0, 0, 0, 0.05),
    0px 277px 111px 0px rgba(0, 0, 0, 0.01),
    0px 433px 121px 0px rgba(0, 0, 0, 0);
}
