.page-privacy-policy-layout {
  // Disable global grid (reset main styles)
  display: block !important;
  gap: 0 !important;
  
  width: 100%;
  position: relative;
  padding-bottom: 0;

  & > .privacy-policy {
    position: relative;
    z-index: 1;
    width: 100%;
  }
}